article em {
  background-color: aqua;
}

nav.main_nav > ul > li {
  color: bisque;
}

/*This block is not needed unless there is a typo in the assignment. If we mean the first level of the main menu, not paying attention to the same signature nav nivå ett in the first and second levels.*/

nav.main_nav > ul > li > ul {
  color: initial;
}

article p + p {
  color: firebrick;
}

[title="textsnutt"] {
  color: #ff3300;
}

[title="viktig paragraf"],
[title="mycket viktig text"] {
  background-color: #ff3300;
}

#zebra li:nth-child(2n) {
  background-color: #99ccff;
}

#zebra li:last-child {
  border-bottom: 2px solid;
}

#colored_table tr:nth-child(2n) {
  background-color: #FFFF99;
}

#colored_table tr:nth-child(3n) {
  background-color: #CCFF66;
}